<h1>Welcome to ACME Insurance</h1>

<% if !user_signed_in? %>
	<h2>Please Sign In</h2>
	<p>In order to continue, you must sign in.</p>
<% else %>

<h2>Policy History</h2>

	<p>This is where we put the history.</p>

<% end %>