<h2>Select Object</h2>
<ul>
	<% @objects['sobjects'].each do |current| %>
	<li><%= link_to(current['name'], '/metadata/raw_describe_object/' + current['name']) %> 
		(
			<%= link_to('brief','/metadata/raw_object/' + current['name'] ) %> | 
			<%= link_to('query','/metadata/query_object/' + current['name'] ) %> | 
			<%= link_to('mass insert','/metadata/mass_insert1/' + current['name'] ) %> 
			)
		</li>
	<% end %>
</ul>